# Node modules en la raíz y en cada workspace
node_modules/
node_modules
**/node_modules/

# Salidas de compilación
dist/
**/dist/
build/
**/build/
.next/
**/.next/

# Archivos de lock y caches
yarn.lock
package-lock.json
.pnpm-debug.log*
.nx/cache/

# Archivos de entorno (variables sensibles)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de compilación TypeScript
*.tsbuildinfo

# Directorios de IDE y editores
.vscode/
.idea/

# Otros (coverage, logs, etc.)
coverage/
logs/
*.log

# Ignorar imágenes subidas en backend (si se generan automáticamente)
apps/backend/uploads/

extraido.sh
codigo_componentes.txt