# Directorios y archivos de dependencias
/node_modules/
**/node_modules/

# Lock files: Solo mantén el que decidas usar en la raíz.
# Si eliges Yarn:
package-lock.json
pnpm-lock.yaml

# Si eliges npm:
yarn.lock

# Resultados de compilación / build
/dist/
/build/
/tmp/
.nx/              # Directorio de cache de Nx (si usas Nx)
.lerna/           # Directorio de cache de Lerna (si aplica)

# Archivos generados por TypeScript
tsconfig.tsbuildinfo

# Logs y archivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
debug.log*

# Variables de entorno
*.env
.env.*
!.env.example    # Opcional: conservar un ejemplo de variables de entorno

# Configuraciones locales de IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de sistema
.DS_Store
Thumbs.db
